# Backend
# VIRTUAL ENVIRONMENT
venv/
env/
.venv/
*.pyc
__pychache__/
# LOCAL DATA
data/
# VECTOR STORE
vectorstore.faiss/
.env
.vs
*.log
*.sqllite

# Frontend
# IntelliJ Idea moduLE file (Specific to the local IDE setup)
*.iml 
# Gradle build system cache and data
.gradle
# Local machine Specific properties(like SDK path, API keys)
/local.properties
# Android studio project settings and caches
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
# Output directory for all combined code and APK files
/build
# Android studio folder for emulator screenshots and recordings
/captures
# Caches for native C++ (NDK) builds
.externalNativeBuild
.cxx
# Duplicate entry for local properties
local.properties
Constants.kt
